*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(100, 120, 221, 0.868);
}

.container{
    width: 800px;
    margin: 50px auto;
}

header{
    height: 80px;
    background-color: white;
    padding: 20px;
}

h1{
    font-size: 3em;
}

input{
    width: 50px;
}

#message {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#random{
    font-size: 2.5em;
    color: darkred;
    font-weight: bold;
}